.comp-tag-link {
    &-container {
        display         : inline-flex;
        cursor          : pointer;
        background-color: #f5f7fa;
        padding         : 15px;
        padding-right   : 20px;
        box-sizing      : border-box;
        border-radius   : 5px;
        color           : rgb(var(--gray-8));
    }

    &-content {
        flex: 1;
    }

    &-line {
        width           : 3px;
        background-color: #3c7cfc;
        margin-right    : 10px;
    }
}