.comp-custom-scroll-bar {
  &-container {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &:hover,
    &.active {
      .comp-custom-scroll-bar-wrapper {
        width: 10px;
        background-color: transparent;
        opacity: 1;
      }
    }
  }

  &-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    opacity: 0;

    -webkit-transition: width 0.5s, opacity 0.5s;
    transition: width 0.5s, opacity 0.5s;

    &:hover {
      width: 10px;
      opacity: 1;
    }
  }

  &-yq {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #ccc;
    border-radius: 100px;
    -webkit-transition: width 0.5s, background-color 0.5s;
    transition: width 0.5s, background-color 0.5s;

    &:hover {
      background-color: darken(#ccc, 10%);
    }
  }
}
