.comp-custom-scroll-bar {
    &-container {
        overflow: hidden;
        display : inline-block;
        position: relative;

        &:hover,
        &.active {
            .comp-custom-scroll-bar-wrapper {
                width           : 10px;
                opacity         : 1;
                background-color: transparent;
            }
        }

    }

    &-wrapper {
        width   : 0px;
        height  : 100%;
        position: absolute;
        right   : 0;
        top     : 0;

        -webkit-transition: width .5s, opacity .5s;
        transition        : width .5s, opacity .5s;
        opacity           : 0;

        &:hover {
            width  : 10px;
            opacity: 1;
        }
    }

    &-yq {
        width             : 100%;
        right             : 0;
        top               : 0;
        background-color  : #ccc;
        border-radius     : 100px;
        -webkit-transition: width .5s, background-color .5s;
        transition        : width .5s, background-color .5s;
        position          : absolute;


        &:hover {
            background-color: darken(#ccc, 10%);
        }
    }
}